@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#__next {
height: 100vh;
}