footer {
    padding: 14px 16px;
    height: 144px;
    background-color: #000000;
    color: white;
    font-size: 14px;
    line-height: 20px;
    .links {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 75px;
        a {
            color: white;
            line-height: 20px;
            padding: 10px;
        }
    }
    p {
        text-align: center;
    }
}